<div id="page-content">
  
  <h1 class="text-center mt-4">Listing All Articles</h1>
  
  <% @articles.each do |article| %>
  
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-8 mt-4">
                <div class="card text-center shadow mb-5 bg-white rounded">
                  <div class="card-header font-italic">
                    by Zipitio Zip
                  </div>
                  <div class="card-body">
                    <h5><%= link_to article.title, article_path(article), class: "card-title text-success" %></h5>
                    <p class="card-text"><%= truncate(article.description, length: 100) %></p>
                    <%= link_to "View", article_path(article), class: "btn btn-outline-success"%>
                    <%= link_to "Edit", edit_article_path(article), class: "btn btn-outline-info"%>
                    <%= link_to "Delete", article_path(article), method: :delete, class:"btn btn-outline-danger"%>
                  </div>
                  <div class="card-footer text-muted">
                    <small>Created <%= time_ago_in_words(article.created_at) %> ago,
                    edited <%= time_ago_in_words(article.updated_at) %> ago </small>
                  </div>
                </div>
            </div>
        </div>
    </div>
    
<% end %>

</div>
